@model IEnumerable<dynamic>

@{
    Layout = null;
    var filterFirma = ViewBag.FilterFirma as string ?? "";
    var filterPctLucru = ViewBag.FilterPctLucru as string ?? "";
    var currentPage = ViewBag.CurrentPage as int? ?? 1;
    var totalPages = ViewBag.TotalPages as int? ?? 1;
    var userName = ViewBag.UserName;
    var displayPages = 15; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Firma Punct de Lucru</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_Header")

    <div class="container mt-4">
        <!-- Filter Button and Dropdown Menu -->
        <div class="d-flex justify-content-between mb-3">
            <!-- Filter button with a funnel icon -->
            <button class="btn btn-secondary" id="lista-firma-filter-button">
                <i class="bi bi-funnel"></i> Filtrare
            </button>
        </div>

        <!-- Filter Dropdown -->
        <div id="lista-firma-filter-dropdown" class="border p-3 mb-3 rounded bg-light d-none">
            <div class="mb-2">
                <label for="lista-firma-filter-firma" class="form-label">Firma:</label>
                <input type="text" class="form-control" id="lista-firma-filter-firma" name="filterFirma" value="@filterFirma">
                <div id="firmaSuggestions" class="dropdown-menu"></div>
            </div>
            <div class="mb-2">
                <label for="lista-firma-filter-pctlucru" class="form-label">Punct de Lucru:</label>
                <input type="text" class="form-control" id="lista-firma-filter-pctlucru" name="filterPctLucru" value="@filterPctLucru">
                <div id="pctLucruSuggestions" class="dropdown-menu"></div>
            </div>
            <div class="d-flex justify-content-start mt-3">
                <!-- Apply filter button with a check-circle icon -->
                <button class="btn btn-success me-2" id="lista-firma-apply-filter-button">
                    <i class="bi bi-check-circle"></i> Apply Filter
                </button>
                <!-- Reset filter button with an arrow-clockwise icon -->
                <button class="btn btn-warning" id="lista-firma-reset-filter-button">
                    <i class="bi bi-arrow-clockwise"></i> Reset Filter
                </button>
            </div>
        </div>


        <!-- Table Container -->
        <div class="table-responsive mb-4">
            <table class="table table-bordered table-striped" id="lista-firma-table">
                <thead class="table-dark text-white">
                    <tr>
                        <th>Firma</th>
                        <th>Punct de Lucru</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Firma</td>
                            <td>@item.PctLucru</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @if (currentPage > 1)
                    {
                        <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = 1, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">First</a></li>
                        <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = currentPage - 1, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">Previous</a></li>
                    }

                    @{
                        var startPage = currentPage - (displayPages / 2);
                        var endPage = currentPage + (displayPages / 2);

                        if (startPage < 1)
                        {
                            endPage = endPage - (startPage - 1);
                            startPage = 1;
                        }

                        if (endPage > totalPages)
                        {
                            startPage = startPage - (endPage - totalPages);
                            endPage = totalPages;
                        }

                        if (startPage < 1)
                        {
                            startPage = 1;
                        }

                        if (endPage - startPage + 1 < displayPages)
                        {
                            endPage = startPage + displayPages - 1;
                            if (endPage > totalPages)
                            {
                                endPage = totalPages;
                            }
                        }
                    }

                    @if (startPage > 1)
                    {
                        <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = startPage - 1, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">...</a></li>
                    }

                    @for (int i = startPage; i <= endPage; i++)
                    {
                        if (i == currentPage)
                        {
                            <li class="page-item active"><span class="page-link">@i</span></li>
                        }
                        else
                        {
                            <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = i, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">@i</a></li>
                        }
                    }

                    @if (endPage < totalPages)
                    {
                        <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = endPage + 1, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">...</a></li>
                    }

                    @if (currentPage < totalPages)
                    {
                        <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = currentPage + 1, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">Next</a></li>
                        <li class="page-item"><a href="@Url.Action("ListaFirmaPunctLucru", new { page = totalPages, filterFirma = filterFirma, filterPctLucru = filterPctLucru })" class="page-link">Last</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            const filterButton = $('#lista-firma-filter-button');
            const filterDropdown = $('#lista-firma-filter-dropdown');
            const applyFilterButton = $('#lista-firma-apply-filter-button');
            const resetFilterButton = $('#lista-firma-reset-filter-button');

            filterButton.click(function () {
                filterDropdown.toggleClass('d-none');
            });

            applyFilterButton.click(function () {
                const filterFirma = $('#lista-firma-filter-firma').val();
                const filterPctLucru = $('#lista-firma-filter-pctlucru').val();
                const url = `@Url.Action("ListaFirmaPunctLucru", "Helpdesk")?filterFirma=${filterFirma}&filterPctLucru=${filterPctLucru}`;
                window.location.href = url;
            });

            resetFilterButton.click(function () {
                $('#lista-firma-filter-firma').val('');
                $('#lista-firma-filter-pctlucru').val('');
                $('.dropdown-menu').hide(); // Hide suggestions when filters are reset
            });

            $('#lista-firma-filter-firma').on('input', function () {
                const term = $(this).val();
                if (term.length >= 3) {
                    $.get('@Url.Action("GetSuggestions", "Helpdesk")', { term: term, field: 'Firma' }, function (data) {
                        let suggestions = '';
                        data.forEach(firma => {
                            suggestions += `<a class="dropdown-item">${firma}</a>`;
                        });
                        $('#firmaSuggestions').html(suggestions).show();
                    });
                } else {
                    $('#firmaSuggestions').hide();
                }
            });

            $('#firmaSuggestions').on('click', '.dropdown-item', function () {
                const selectedFirma = $(this).text();
                $('#lista-firma-filter-firma').val(selectedFirma);
                $('#firmaSuggestions').hide();
                $('#lista-firma-filter-pctlucru').val('');
            });

            $('#lista-firma-filter-pctlucru').on('input', function () {
                const term = $(this).val();
                const firma = $('#lista-firma-filter-firma').val();
                if (term.length >= 3 && firma) {
                    $.get('@Url.Action("GetSuggestions", "Helpdesk")', { term: term, field: 'PctLucru', firma: firma }, function (data) {
                        let suggestions = '';
                        data.forEach(pctLucru => {
                            suggestions += `<a class="dropdown-item">${pctLucru}</a>`;
                        });
                        $('#pctLucruSuggestions').html(suggestions).show();
                    });
                } else {
                    $('#pctLucruSuggestions').hide();
                }
            });

            $('#pctLucruSuggestions').on('click', '.dropdown-item', function () {
                const selectedPctLucru = $(this).text();
                $('#lista-firma-filter-pctlucru').val(selectedPctLucru);
                $('#pctLucruSuggestions').hide();
            });
        });
    </script>
</body>
</html>
